<main class="main-section">

    <!-- about -->
    <section id="about">
        <h1 class="about-me-title">Meet Sam</h1>

        <div class="container">
            <div class="image-container">
                <div class="img img-1">
                    <img src="../../images/pic_3.jpg" alt="Picture of trainner">
                </div>

                <div class="img img-2">
                    <img src="../../images/pic_4.jpg" alt="Picture of trainner">
                </div>
            </div>

            <div class="content">

                <p class="about-me-text"><span>Hello &#128400;</span> Call me Sammy, the creator of SAFITNESS. I was
                    born and raised in West Africa/Ghana. Currently live in Philadelphia. My goal is to help any
                    individual to reach their fitness goals regardless of their situation. With 5 years of training
                    experience, I’ve come to realize the skills and tools you need to maximize your fitness results
                    within a short period of duration</p>

                <h4 class="p-title">Nutrition </h4>
                <p class="about-me-text">Beginning of my fitness journey, I wasn’t strict with my diet at all. Over time
                    I realized my NUTRITION plays a huge role in my journey which is why I’ve created nutrition plans to
                    help any individual. </p>
                <h4 class="p-title">Style of Training </h4>
                <p class="about-me-text">Every individual has their own specific needs so everyone should receive a plan
                    that suits their goals. Throughout the selection of plans, you'll see that some are completely
                    bodyweight along with plans that require gym access. Whether you're new to fitness or an expert, let
                    one of my plans take you to that next level you're trying to achieve. Also, I want everyone to know
                    they are unique and have the potential to achieve any of their personal goals. The only thing they
                    need is a <strong>PLAN</strong> , <strong>CONSISTENCY</strong>, <strong>DEDICATION</strong> & the
                    right
                    <strong>MINDSET</strong>.
                </p>
                <p class="about-me-text">Moreover, I want as many people as possible to realize that you will only own
                    one body and the faster you take full control of it, the longer and better you will live. </p>
                <p class="about-me-text">If you can put your trust in me and consistently follow my instructions and
                    method I can guarantee that you will achieve your physical goals and become the best version of
                    yourself. </p>
                <h4 class="p-title">The Choice Is Always Yours </h4>
                <p class="about-me-text">Since there's no magic button we can push to reach our goals, we have to decide
                    how bad we want our results. To achieve your goals, you have to be locked in and committed. I've
                    created plans based on my own personal training experiences and it's proven to give results. Are you
                    willing to meet me halfway and become my next success story?</p>

                <h3 class="social-text">Follow me on social media:</h3>
                <div class="social-icons">
                    <a href="https://www.facebook.com" target="_blank"><i class="fab fa-facebook-square"></i></a>
                    <a href="https://www.instagram.com" target="_blank"><i class="fab fa-instagram-square"></i></a>
                </div>
            </div>
        </div>

    </section>

    <!-- workout -->
    <section id="workouts">
        <div class="container">
            <div class="videos">
                <h3 class="title">Checkout some of my workout videos</h3>

                <div class="grd-video">
                    <video width="300px" controls muted class="video">
                        <source src="../../images/IMG_8873.MP4" type="video/mp4">
                    </video>
                    <video width="300px" controls muted class="video">
                        <source src="../../images/IMG_8869.MP4" type="video/mp4">
                    </video>
                    <video width="300px" controls muted class="video">
                        <source src="../../images/IMG_9236.MP4" type="video/mp4">
                    </video>
                    <video width="300px" controls muted class="video">
                        <source src="../../images/IMG_9379.MP4" type="video/mp4">
                    </video>
                    <video width="300px" controls muted class="video">
                        <source src="../../images/IMG_9589.MP4" type="video/mp4">
                    </video>
                    <video width="300px" controls muted class="video">
                        <source src="../../images/IMG_9616.MP4" type="video/mp4">
                    </video>
                </div>
            </div>

            <div class="price-section">
                <h3 class="p-text">Sessions includes:</h3>
                <ul class="infos">
                    <li class="p-info">One-on-one training</li>
                    <li class="p-info">Healthy meal plans to help you achieve your body goals</li>
                    <li class="p-info">Video sessions over Zoom or Skype</li>
                    <li class="p-info">Workout sessions take place at Planet Fitness or Crunch Fitness</li>
                </ul>

                <div class="price-card">
                    <h3 class="card-title">Session price</h3>
                    <p class="card-price"><span>&#36;</span>150/Month</p>
                    <ul class="installments">
                        <li class="payment">one-time payment of <span>&#36;</span>150</li>
                        <li class="payment">two-time payment of <span>&#36;</span>75</li>
                        <li class="payment">four-time payment of <span>&#36;</span>37.50</li>

                        <h3 class="card-title">Acceptable payment</h3>
                        <li class="payment">cashApp</li>
                    </ul>
                </div>
            </div>

        </div>
    </section>




</main>