<main class="main-section">

    <!-- about -->
    <section id="about">
        <h1 class="about-me-title">Meet Sam</h1>

        <div class="container">
            <div class="image-container">
                <div class="img img-1">
                    <img src="../../images/pic_3.jpg" alt="Picture of trainner">
                </div>

                <div class="img img-2">
                    <img src="../../images/pic_4.jpg" alt="Picture of trainner">
                </div>
            </div>

            <div class="content">

                <p class="about-me-text"><span>Hello &#128400;</span> Lorem ipsum dolor sit amet consectetur adipisicing
                    elit.
                    Quam iusto, laudantium veritatis magni similique aspernatur qui non deserunt ad quibusdam asperiores
                    assumenda facilis est aliquid exercitationem illum eveniet suscipit molestias?
                    Harum iusto odit sed pariatur alias nesciunt neque, aliquid numquam adipisci quia voluptate velit in
                    ex nisi. Omnis consequatur obcaecati vitae provident quas laboriosam. Quaerat repellendus earum
                    accusantium placeat aperiam.
                    Animi totam, laboriosam enim consequuntur sint culpa repellendus aspernatur quo? Libero doloribus
                    eum iste architecto. Soluta sint consectetur, quisquam nihil necessitatibus magni dicta natus, enim
                    obcaecati quia, dolores aliquam modi.
                    Ad obcaecati omnis odit rerum veniam, molestias voluptatibus consequatur. Doloremque beatae
                    quibusdam eaque eius rem cumque cupiditate dignissimos aliquam, provident perspiciatis quisquam esse
                    saepe consectetur quia placeat enim voluptatem reprehenderit..</p>

                <h3 class="social-text">Follow me on social media:</h3>
                <div class="social-icons">
                    <a href="https://www.facebook.com" target="_blank"><i class="fab fa-facebook-square"></i></a>
                    <a href="https://www.instagram.com" target="_blank"><i class="fab fa-instagram-square"></i></a>
                </div>
            </div>
        </div>

    </section>

    <!-- workout -->
    <section id="workouts">
        <h1 class="workout-title">Workout videos</h1>
        <div class="video-container">
            <video class="video" controls muted>
                <source src="../../images/IMG_8869.MP4" type="video/mp4">
            </video>
            <video class="video" controls muted>
                <source src="../../images/IMG_8873.MP4" type="video/mp4">
            </video>
            <video class="video" controls muted>
                <source src="../../images/IMG_9236.MP4" type="video/mp4">
            </video>
            <video class="video" controls muted>
                <source src="../../images/IMG_9379.MP4" type="video/mp4">
            </video>
            <video class="video" controls muted>
                <source src="../../images/IMG_9589.MP4" type="video/mp4">
            </video>
            <video class="video" controls muted>
                <source src="../../images/IMG_9616.MP4" type="video/mp4">
            </video>
        </div>
    </section>

    <!-- price Installments -->
    <section class="price">
        <h1 class="price-title">Session Price</h1>
        <div class="price-container">
            <div class="card-info">
                <p class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel, dolorum nisi. Cum natus
                    enim fugiat dicta fugit veniam. Quas perferendis voluptatibus sunt aspernatur consequuntur. Earum
                    delectus doloremque consectetur vero a.</p>
                <p class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel, dolorum nisi. Cum natus
                    enim fugiat dicta fugit veniam. Quas perferendis voluptatibus sunt aspernatur consequuntur. Earum
                    delectus doloremque consectetur vero a.</p>
            </div>
            <div class="price-card">
                <h3 class="card-title">Session price</h3>
                <p class="card-price"><span>&#36;</span>150/Month</p>
                <ul class="installments">
                    <li class="payment">one-time payment of <span>&#36;150</span></li>
                    <li class="payment">two-time payment of <span>&#36;75</span></li>
                    <li class="payment">four-time payment of <span>&#36;37.50</span></li>

                    <h3 class="card-title">Acceptable payment</h3>
                    <li class="payment">cashApp</li>
                </ul>
            </div>
        </div>
    </section>
</main>