<main class="main-section">

    <!-- about -->
    <section id="about">
        <h1 class="about-me-title">Meet Sam</h1>

        <div class="container">
            <div class="image-container">
                <div class="img img-1">
                    <img src="../../images/pic_3.jpg" alt="Picture of trainner">
                </div>

                <div class="img img-2">
                    <img src="../../images/pic_4.jpg" alt="Picture of trainner">
                </div>
            </div>

            <div class="content">

                <p class="about-me-text"><span>Hello &#128400;</span> Lorem ipsum dolor sit amet consectetur adipisicing
                    elit.
                    Quam iusto, laudantium veritatis magni similique aspernatur qui non deserunt ad quibusdam asperiores
                    assumenda facilis est aliquid exercitationem illum eveniet suscipit molestias?
                    Harum iusto odit sed pariatur alias nesciunt neque, aliquid numquam adipisci quia voluptate velit in
                    ex nisi. Omnis consequatur obcaecati vitae provident quas laboriosam. Quaerat repellendus earum
                    accusantium placeat aperiam.
                    Animi totam, laboriosam enim consequuntur sint culpa repellendus aspernatur quo? Libero doloribus
                    eum iste architecto. Soluta sint consectetur, quisquam nihil necessitatibus magni dicta natus, enim
                    obcaecati quia, dolores aliquam modi.
                    Ad obcaecati omnis odit rerum veniam, molestias voluptatibus consequatur. Doloremque beatae
                    quibusdam eaque eius rem cumque cupiditate dignissimos aliquam, provident perspiciatis quisquam esse
                    saepe consectetur quia placeat enim voluptatem reprehenderit..</p>

                <h3 class="social-text">Follow me on social media:</h3>
                <div class="social-icons">
                    <a href="https://www.facebook.com" target="_blank"><i class="fab fa-facebook-square"></i></a>
                    <a href="https://www.instagram.com" target="_blank"><i class="fab fa-instagram-square"></i></a>
                </div>
            </div>
        </div>

    </section>

</main>