<header id="home" class="header">
    <nav class="navbar">
        <div class="logo">
            <a href="#home"><img src="../../images/logo.jpg" alt="SA Fitness logo"></a>
        </div>

        <ul class="nav-items">
            <li class="nav-link"><a href="#home">Home</a></li>
            <li class="nav-link"><a href="#about-me">About</a></li>
            <li class="nav-link"><a href="#pricing">Pricing</a></li>
            <li class="nav-link"><a href="#contact">Contact</a></li>
        </ul>

        <div class="hamburger">
            <div class="line-1"></div>
            <div class="line-2"></div>
            <div class="line-3"></div>
        </div>
    </nav>

    <div class="contents">
        <h1 class="banner-title">SA Fitness</h1>
        <h4 class="sub-title">set up your fitness challenge with me</h4>
        <button class="btn-cta"><a href="#">meet sam</a></button>
    </div>
</header>