<header id="home">
    <!-- navbar -->
    <nav id="nav">
        <div class="nav-center">
            <!-- nav header -->
            <div class="nav-header">
                <h2 class="logo"><span>SA</span> Fitness</h2>
                <button class="nav-toggle">
                    <i class="fas fa-bars"></i>
                </button>
            </div>

            <!-- links -->
            <div class="links-container">
                <ul class="links">
                    <li><a href="#home" class="scroll-link active">home</a></li>
                    <li><a href="#about" class="scroll-link">about</a></li>
                    <li><a href="workouts" class="scroll-link">workouts</a></li>
                    <li><a href="contact" class="scroll-link">contact</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- banner -->
    <div class="banner">
        <div class="container">
            <h1 class="banner-title">SA Fitness</h1>
            <p class="sub-title">set up your fitness challenge with me</p>
            <a href="#about" class="scroll-link btn">meet Sam</a>
        </div>
    </div>
</header>