<!DOCTYPE html>
<html lang="en">
<%- include("./partials/head.ejs") %>

    <body>
        <div class="wrapper">
            <%- include("./partials/nav.ejs") %>
        </div>

        <main>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat ducimus, natus quod vel obcaecati
            molestias blanditiis impedit aliquam ullam velit vitae dolor sed ipsum saepe temporibus. Impedit error totam
            aliquid!
            Veniam tenetur modi, impedit quam molestias ipsa fugiat vero quisquam consectetur sit nam placeat hic
            ratione suscipit reiciendis itaque deserunt repellendus unde necessitatibus laborum totam adipisci numquam
            dolorem quo. Accusantium.
            Ipsum voluptatem tempore atque autem aut repellat facere ex dolorum asperiores tempora ducimus fuga ullam,
            sint omnis perferendis recusandae repellendus dolore dicta reprehenderit itaque debitis accusantium ratione
            amet. Voluptatibus, repudiandae.
            Nemo corrupti aliquam rem nisi aut harum unde minima dolores adipisci exercitationem tempora saepe
            laboriosam qui soluta odit sapiente, rerum ea consectetur praesentium, voluptatum eaque quam non dolorem
            totam. Deleniti.
            Architecto veritatis quidem magnam temporibus beatae vitae earum a voluptas dolor possimus ipsa dignissimos
            harum atque voluptatum, tenetur, aut, accusantium saepe assumenda officiis molestiae iure recusandae.
            Reiciendis numquam porro consequatur.
            Ratione perspiciatis illo repellendus nam ea voluptatibus voluptates distinctio eaque eveniet, autem soluta
            esse laboriosam minima facilis impedit. Alias facere deserunt, beatae odio quae harum quibusdam voluptatibus
            laudantium saepe nostrum.
            Placeat, libero atque ipsa eveniet, consectetur cupiditate obcaecati sequi nulla similique aliquid
            distinctio totam facilis, soluta id ipsam perferendis eligendi nemo qui aperiam ea quos esse numquam cumque.
            Pariatur, aperiam?
            Enim dolor odio deserunt natus asperiores veniam officiis laudantium, consequuntur, commodi modi est ea nemo
            minima autem! Beatae rerum asperiores sequi, consequuntur aspernatur qui voluptas iusto nesciunt. Dolores,
            sint repellendus?
            Dicta ex id, reprehenderit, deserunt tempore iusto fuga inventore quo illum doloribus perspiciatis fugiat
            quia tenetur earum! Reiciendis, culpa mollitia molestiae, rem maxime deserunt voluptatem tempora,
            consequatur laborum facilis perspiciatis.
            Error inventore itaque ullam, laudantium, quam consectetur aperiam minima libero, quis repellendus
            recusandae facilis iste hic maiores expedita nemo debitis maxime nam id architecto nisi omnis consequuntur
            voluptates. Voluptatum, officiis.
            Molestias aspernatur, aperiam commodi fugit dolorem similique distinctio minus illo perspiciatis inventore
            provident alias enim tempore earum autem facere dicta voluptas, cum obcaecati porro consequuntur! Nesciunt
            ratione voluptatem cupiditate aperiam!
            Ratione quia accusantium libero eius placeat. Aliquid eaque molestias voluptas id necessitatibus sit nulla
            temporibus blanditiis impedit sequi neque numquam fugit, quos sapiente maxime ipsam vel. Dignissimos quis
            modi rerum!
            Enim pariatur nobis natus cumque voluptas velit exercitationem, amet atque debitis veniam a autem,
            asperiores adipisci ratione odit vero quia sequi. Explicabo placeat cupiditate necessitatibus architecto
            iste a consequuntur quae!
            Impedit fugiat ipsam itaque at repellat, magnam veritatis dignissimos blanditiis dicta illo odit distinctio
            neque molestiae, quos nostrum id? Culpa sit dolore temporibus fugit repellat? Quisquam veritatis quis
            deleniti voluptates!
            Odio saepe quia esse veniam fugit aperiam voluptates aut ut porro quo animi, repellendus eum, sequi modi
            omnis beatae sed incidunt mollitia enim soluta aliquam a. Eaque dolore nostrum distinctio?
            Nihil consequuntur odit tempore molestias quam, sint soluta quod neque similique quos impedit minus
            architecto reiciendis dolor totam aut unde cumque, consequatur praesentium eius? Culpa fuga accusamus sit
            obcaecati eos.
            Tempore commodi odit animi eveniet laborum id autem perspiciatis obcaecati aliquid molestias. Iure, alias.
            Cumque laborum, sequi veniam quae corporis aspernatur mollitia, non vitae architecto libero sapiente sed
            ullam. Sit.
            Iusto, eos? Sed temporibus veritatis officiis libero expedita illum debitis a officia ipsum incidunt sit
            numquam neque sequi molestiae magni, fugiat cupiditate reprehenderit nam, porro hic. Voluptatibus laudantium
            eaque eligendi?
            Voluptatem unde ea enim aliquam rerum ipsa fugit sunt doloremque nihil nisi atque sequi quas doloribus
            perspiciatis aperiam commodi tenetur, nulla eaque delectus consectetur voluptatum odit a quibusdam. Odio,
            sequi?
            Voluptate ipsam voluptatum autem inventore cumque! Cumque perferendis et reprehenderit delectus officia quo
            corrupti at, obcaecati magni neque corporis animi veniam repellat maiores doloremque nisi voluptas? Debitis
            dolor accusamus assumenda?
            Iste debitis, omnis unde aliquam nesciunt, dolor nulla maiores quidem a, vel consequatur? Alias excepturi
            cupiditate placeat molestiae sapiente voluptatibus odio nam, neque omnis totam esse eveniet recusandae
            explicabo cumque!
            Ea ipsum voluptatem maxime aspernatur dolor magnam nulla est modi debitis ipsa aut, dolorem non accusantium?
            Incidunt, in. Facere blanditiis sit tempora vitae iusto maxime, quam illo ducimus culpa quaerat?
            Impedit molestiae dicta, veritatis at, cupiditate quasi quo nulla odit corrupti, optio beatae non
            consequuntur. Nemo magni consequuntur, amet dignissimos veniam exercitationem blanditiis temporibus ipsa sed
            neque et quis sit?
            Sequi veritatis recusandae deserunt minus numquam culpa debitis ipsam, earum consequatur delectus ipsa
            obcaecati, placeat, impedit temporibus sint. Quaerat aliquam enim harum eveniet iure cupiditate consequatur,
            veritatis cumque ullam rem!
            Deleniti voluptatum at repellat! Non praesentium voluptate natus explicabo minus voluptatem aut maiores
            itaque molestias ipsum, molestiae tenetur ducimus est illum, perspiciatis repellat accusantium possimus
            culpa! Laudantium iusto accusantium placeat.
            Tempore doloremque culpa facere, eum accusamus aliquid alias minus commodi corporis velit possimus beatae
            sequi provident ut cum! Ullam eligendi ad cum consectetur vel amet similique aliquid aperiam fugit omnis?
            Amet neque expedita ad nemo provident veritatis? Sint possimus rem omnis earum perspiciatis fugiat
            consectetur reiciendis. Dicta quam dolore architecto eveniet, voluptates temporibus natus ipsam porro
            provident totam! Suscipit, eligendi.
            Voluptatibus id atque distinctio ab fugiat tenetur, quod quaerat quisquam aliquid quos assumenda tempore eos
            laborum magnam architecto alias a iste totam earum. Iusto fuga velit ullam saepe nam sunt.
            Repellendus reprehenderit ipsa recusandae. Ipsam minima magnam molestiae omnis corrupti voluptatum laborum
            exercitationem modi id? Quis qui laboriosam nisi dicta officiis earum tempora, consequatur, tempore aliquid,
            esse labore magni inventore?
            Suscipit nulla aperiam cumque quaerat commodi, rem iste totam quo officia dolores qui harum, numquam eos
            iure reiciendis consequatur a impedit, incidunt odio! Cum voluptatum tempora recusandae blanditiis eos
            cupiditate.
            Non aspernatur rerum, esse ad repudiandae delectus quasi perspiciatis ipsa inventore magni impedit quae
            iusto omnis nostrum. Harum, quisquam corporis tenetur ducimus ut perspiciatis, sapiente ex et deserunt,
            laborum minima.
            Dolorem recusandae, minus sed unde, impedit expedita ipsa velit minima, iusto aliquid doloribus ipsum
            asperiores ad soluta. Nesciunt, aperiam. Nisi recusandae laudantium corporis quisquam iste perferendis
            deserunt commodi rerum earum?
            Vel ducimus minima nesciunt quas iure. Veniam error, suscipit qui sed deserunt quo magni dicta quasi ipsum
            libero? Vero quidem autem illum voluptatibus numquam quos aliquam voluptates dignissimos maxime voluptas!
            Mollitia repellendus animi aspernatur error unde, magni doloremque assumenda voluptatibus qui molestias
            distinctio numquam nihil corrupti vero dolores minima fugit voluptatum! Enim, eaque porro hic soluta
            eligendi ea architecto numquam.
            Perspiciatis reiciendis iure maxime corrupti enim debitis. Nihil asperiores veritatis alias architecto.
            Tempora dolorum molestiae nam itaque sunt repellendus atque at aliquam maiores. Dolore nisi maxime
            voluptatem natus soluta quae.
            Consequuntur modi eum quia. Ut quod autem dignissimos. Magnam inventore cumque amet atque optio velit
            debitis, tempora tempore odit exercitationem nobis sint expedita, reprehenderit fuga perferendis magni
            eveniet quos commodi.
            Ad dolorem modi hic. Cumque ea laudantium, consequuntur eligendi asperiores voluptates atque aperiam
            mollitia animi magnam ad? Aliquam deserunt cumque possimus non, delectus quam, quisquam, ratione minima
            vitae earum totam!
            Illum consequuntur, laudantium doloribus voluptatem dolor itaque aut deserunt perferendis labore, pariatur
            sit eaque culpa tempore deleniti, sapiente totam. Quod ratione esse dolor velit laboriosam libero enim animi
            repellat. Possimus?
            Iusto labore, neque omnis delectus tempore, similique eveniet repudiandae beatae minima esse, nostrum
            incidunt laudantium non odit? Quod esse ea delectus dolores, a omnis, facere, veniam reiciendis quidem sit
            quisquam?
            Id, placeat recusandae odit at reiciendis eos est sed, eaque illo accusantium sit adipisci eius delectus
            veniam quas sunt minus voluptates quam perferendis dolorem expedita, architecto accusamus neque. Voluptatem,
            sit.
            Necessitatibus, fugit? Deleniti ullam, dicta facilis voluptas nesciunt consectetur doloribus, exercitationem
            itaque necessitatibus, consequatur nemo. Sunt, voluptatum reprehenderit labore nisi at eum praesentium
            voluptatem hic ullam veritatis ipsa delectus culpa.
            Fuga repellat earum quod repellendus? Sit voluptates molestias itaque veniam quia fugit porro? Impedit quia
            eveniet aliquid inventore molestiae quas error sapiente itaque asperiores, vel sed repudiandae pariatur
            similique iste.
            Voluptate modi debitis repudiandae qui fugiat doloremque asperiores rerum exercitationem rem sapiente soluta
            magnam numquam, quidem laudantium reiciendis cum! Veniam, consequatur ab! Corporis, eum commodi animi illo
            quia nesciunt facilis.
            Fugiat nemo odit facilis pariatur quaerat deleniti eligendi quam sed cumque beatae, sint ipsa reiciendis
            accusantium nisi et hic veniam distinctio minus porro, delectus minima blanditiis ab. Aut, dolores unde?
            Alias eos ducimus quaerat. Atque ab aut velit at explicabo perferendis delectus modi? Aliquid ipsum dolorem
            quia, ducimus vero dicta facere! Iusto perspiciatis provident voluptates reprehenderit dignissimos aliquam
            impedit quisquam!
            Voluptatibus ut sit ex labore odit magni possimus sequi tempora enim alias nemo, repellat eius error nulla
            voluptates minima reprehenderit explicabo esse, culpa sed. Nostrum in ex possimus? Ipsum, dolores.
            Reprehenderit possimus eius minus ab. Omnis impedit, modi accusamus ab nam voluptate iusto similique itaque
            iste ut, sunt odio unde illum nostrum. Magni eos cupiditate et? Libero porro magni dicta.
            Iure tempore deserunt corporis nobis nemo. Id minima culpa aperiam nemo quas odit tenetur est quisquam
            quaerat? Iste, consequuntur adipisci quasi accusantium perspiciatis esse qui eligendi animi fugit, porro
            possimus.
            Consequuntur non qui reiciendis suscipit hic sapiente, eos possimus dolorem porro veniam libero commodi
            veritatis, ea omnis illum dolor sit tenetur cum beatae? Vitae cum ipsum similique fuga, mollitia omnis.
            Quas perspiciatis odio consectetur similique rerum mollitia magni, temporibus suscipit. Architecto itaque,
            sunt culpa voluptatum quis iusto molestiae quam ad vitae reiciendis sapiente illum error ut minima natus eum
            velit.
        </main>

        <!-- script tags -->
        <script src="js/app.js"></script>
        <script src="https://kit.fontawesome.com/0cb0e7b636.js" crossorigin="anonymous"></script>
    </body>

</html>