@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

:root{
    --black: #09080d;
    --yellow: #ffb705;
    --white: #f8f9fa;
    --grey:  #7e7d7e;
    --font: 'Open Sans', sans-serif;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

button{
    outline: none;
    cursor: pointer;
}

img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: grayscale(60%);
    transition: filter .3s ease;
    border-radius: 3px;
}
html{
    scroll-behavior: smooth;
}

body{
    min-height: 100vh;
    font-family: var(--font);
    background-color: var(--white);
    text-transform: capitalize;
}

.wrapper{
    width: 100%;
    height: 100%;
   
}

/* header */
#home{
    width: 100%;
    height: 100vh;
    background: linear-gradient(135deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.4)), url('../images/banner.jpg');
    background-repeat: none;
    background-size: cover;
    background-position: center;
}
#nav{
    width: inherit;
    height: 90px;
    background-color: transparent;
}
#nav.nav-fixed{
    position: fixed;
    top: 0;
    left: 0;
    width:  100%;
    background-color: var(--black);
    z-index: 9999;
    -webkit-box-shadow: 0px 13px 41px -12px rgba(0,0,0,0.425); 
    box-shadow: 0px 13px 41px -12px rgba(0, 0, 0, 0.425);
    transition: .3s ease-in-out;
}
/* #nav.nav-fixed .logo, #nav.nav-fixed .links-container .links li a{
    color: var(--white)
} */
.nav-center{
    width: 70%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.nav-header{
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
}

.nav-header .logo{
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: var(--white);
}

.nav-header .logo span{
    font-size: 2.8rem;
    color: var(--yellow);
}

.nav-header .nav-toggle{
    display: none;
}
.links-container{
    display: flex;
    flex: 1;
}

.links-container .links{
    width: 100%;
    margin: 0 auto;
    padding: 1.1rem 0;
    display: flex;
}
.links-container .links li{
    font-size: 1.2rem;
    width: 25%;
    text-align: center;
    transform: translateY(8px);
}
.links-container .links li a{
    color: var(--white);
    letter-spacing: 2px;
}
.links-container .links li:nth-child(odd){
    margin: 0 1rem;
}
.links-container .links li:hover a{
    opacity: .9;
}

a.active{
    border-bottom: 4px solid var(--yellow);
}

/* END OF NAV */

/* BANNER */
.banner{
    height: calc(100% - 90px);
}
.banner .container{
    width: 70%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 12rem;
    color: var(--white);
    background-color: transparent;
    line-height: 1.6;
}
.banner .container .banner-title{
    font-size: 12rem;
    text-transform: uppercase;
}
.banner .container .sub-title{
    font-size: 2rem;
    font-weight: 200;
    text-transform: uppercase;
}
.banner .container .btn{
    border: 3px solid var(--white);
    padding: 6px 4rem;
    margin-top: 3rem;
    color: var(--white);
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: background .2s ease;
}
.banner .container .btn:hover{
    background-color: rgba(238, 238, 238, 0.096);
}

/* ABOUT ME*/
.main-section{
    width: 100;
    height: 100vh;
}
#about{
    width: 70%;
    height: 100%;
    margin: 0 auto;
    margin-top: 4rem;
}
#about .about-me-title{
    font-size: 4rem;
    color: var(--grey);
    text-transform: uppercase;
    text-align: center;
}
#about .container{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 15px;
    margin-top: 5rem;
}
#about .container .image-container{
    display: flex;
   width: 100%;
   height: 100%;
    position: relative;
    z-index: 10;
}
#about .container .image-container .img{
   width: 400px;
   height: 700px;
}
#about .container .image-container .img-2{
    margin-left: 10px;
}
#about .container .image-container .img img:hover{
    filter: grayscale(0);
}
#about .container .content{
    width: 100%;
    height: 100%;
}
#about .container .content .about-me-text{
    font-size: 1.3rem;
    line-height: 1.5;
    width: 60ch;
    padding: .7rem;
    color: var(--grey);
}
#about .container .content .about-me-text span{
    color: var(--yellow);
    font-weight: bold;
    font-size: 3rem;
}
#about .container .content .social-text{
    font-weight: 400;
    margin: 1rem;
}
#about .container .content .social-icons{
   padding: 1rem;
}
#about .container .content .social-icons a {
    margin-right: 10px;
    
}
#about .container .content .social-icons a .fab{
    font-size: 2rem;
    color: var(--black);
}
#about .container .content .social-icons a .fa-facebook-square:hover{
    color: #5572af;
}
#about .container .content .social-icons a .fa-instagram-square:hover{
    color: #833AB4;
}
/* MEDIA QUERIES */
@media screen and (max-width: 1505px){
    .banner{
        width: 100%;
    }
    .banner .container{
        width: 100%;
        text-align: center;
    }
    .banner .container .banner-title{
        font-size: 10rem;
    }
    .banner .container .sub-title{
        font-size: 1.6rem;
    }
}

@media screen and (max-width: 1180px){
    .nav-center, .banner{
        width: 90%;
    }
    .banner .container .banner-title{
        font-size: 9rem;
    }
    .banner .container .sub-title{
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 970px){
    .nav-header{
        flex: 40%;
    }
    .links-container{
        flex: 60%;
    }
    .banner .container{
        padding-top: 20rem;
    }
    .banner .container .banner-title{
        font-size: 7rem;
    }
}

@media screen and (max-width: 850px){
  
    .banner .container .banner-title{
        font-size: 6.5rem;
        margin-left: 20px;
        text-transform: uppercase;
    }
    .banner .container .sub-title{
        font-size: 1rem;
    }
  
}
@media screen and (max-width: 750px) and (min-width: 500px){
    
    #home{
        overflow-x: hidden;
    }
    #nav{
        position: relative;
        width: 100%;
        z-index: 9999;
        
    }
    #nav .nav-center{
        flex-direction: column;
        width: inherit;
        height: 0;
    }
    .nav-header{
        width: 100%;
        flex: 15%;
        padding: 0 1rem;
    }
    .links-container{
        position: absolute;
        top: 4.6rem;
        left: -1000px;
        width: 100%;
        flex: 80%;
        background-color: var(--white);
        -webkit-box-shadow: 0px 13px 41px -12px rgba(0,0,0,0.425); 
        box-shadow: 0px 13px 41px -12px rgba(0, 0, 0, 0.425);
        margin-top: 1rem;
        transition: all .3s ease-in-out;
    }
    
    .links-container .links{
        flex-direction: column;
    }
    .links-container .links li{
        width: 95%;
        text-align: left;
        padding: 1rem;
        background-color: transparent;
    }
    .links-container .links li a{
        display: block;
        color: var(--black);
    }
    .links-container .links li:nth-child(even){
        margin: 0 1rem;
    }
    .nav-header .nav-toggle{
        display: block;
        width: 35px;
        height: 35px;
        border: 3px solid var(--white);
        border-radius: 5px;
        background-color: transparent;
        color: var(--white);
        transform: translateY(6px);
    }
    .show.links-container{
       left: 0;
       transition: all.3s ease-in-out;
    }
    .show.links-container .links li:hover{
        background-color: var(--white);
        -webkit-box-shadow: 1px 0px 13px -6px rgba(0,0,0,0.89); 
        box-shadow: 1px 0px 13px -6px rgba(0,0,0,0.89);
        transition: .4s ease-in-out;
    }
    a.active{
        border-bottom: none;
    }
    .banner .container .banner-title{
        font-size: 5rem;
    }
    .banner .container .sub-title{
        font-size: 1rem;
    }
}
